@import "../node_modules/angular2-meteor-accounts-ui/build/login-buttons.scss";

@import "imports/app/common/styles/mixins.scss";
@import "imports/app/common/styles/variables.scss";

@import "imports/app/home/home.scss";
@import "imports/app/calendar/calendar.scss";
@import "imports/app/contact/contact.scss";


.fill-remaining-space {
  flex: 1 1 auto;
}

html, body {
  height: 100%;
}

body {
  background-color: #f8f8f8;
  font-family: 'Muli', sans-serif;
}

body.mobile {
  overflow: hidden;
}

body.web {
  overflow: visible;
  position: initial;
}

.sebm-google-map-container {
  width: 450px;
  height: 450px;
}

.navbar {
  background-color: #ffffff;
  border-bottom: #eee 1px solid;
  color: $primary_color;
  font-family: 'Muli', sans-serif;
  a {
    color: $primary_color;
    text-decoration: none !important;
  }

  .navbar-right-container {
    position: absolute;
    top: 17px;
    right: 17px;
  }
}
